.play-video {
  flex-basis: 69%;
}

.play-video video {
  width: 100%;
}

.play-video h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px;
}

.play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: var(--gray-700);
}

.play-video-info img {
  width: 20px;
  margin-right: 8px;
}

.play-video-info span {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}

.play-video hr {
  border: 0;
  height: 1px;
  background: var(--gray-400);
  margin: 10px 0;
}

.publisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publisher div {
  flex: 1;
  line-height: 18px;
}

.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.publisher div p {
  color: var(--black);
  font-weight: 600;
  font-size: 18px;
}

.publisher div span {
  font-size: 13px;
  color: var(--gray-600);
}

.publisher button {
  background: var(--black);
  color: var(--white);
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.vid-desc {
  padding-left: 55px;
  margin: 15px 0;
}

.vid-desc p {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--gray-700);
}

.vid-desc h4 {
  font-size: 14px;
  color: var(--gray-700);
  margin-top: 15px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}

.comment h3 span {
  font-size: 12px;
  color: var(--gray-600);
  font-weight: 500;
  margin-left: 8px;
}

.comment-action {
  display: flex;
  align-items: center;
  margin: 8px 0;
  transform: scale(0.9);
  color: var(--gray-600);
}

.comment-action span {
  margin-left: 5px;
  margin-right: 20px;
}
